/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  overflow: hidden;
}
/*body {
  background-image: url("westeros.jpg");
  background-size: cover;
}*/

#home-title {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  color: white;
}

input {
  margin-bottom: 5px;
}

.btn {
  margin-bottom: 5px;
}

.btn-lg {
  min-width: 100%;
  font-size: 500%;
  opacity: 0.8;
}

.form-background {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
}

.no-background {
  background: none;
}

#landing-content {
position: top left;
overflow: hidden;
background-image: url(westeros.jpg);
min-width: 110%;
min-height: 110%;
background-size: cover;
background-repeat: no-repeat;
border-bottom: solid;
border-bottom-color: #628027;
border-bottom-width: 5px;
}

#user_vacations {
  margin-left: 40px;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2em;
  background: rgb(255, 255, 255);
  background: rgba(190, 190, 190, 0.6);
  padding: 20px;
  border-radius: 10px;
}

#user_vacations li {
  margin-bottom: 10px;

}


