<div class="container">
  <div class="form-background">
    <h1>GUEST RIGHT</h1>
    <p><em>ALL</em> hosts and guests must honor this ancient right:</p>
    <p><blockquote>Guest right is an ancient and sacred tradition in Westeros. When a guest, be he common born or noble, eats the food and drinks the drink off a host's table beneath the host's roof, the guest right is invoked. Once invoked, neither the guest can harm his host nor the host harm his guest for the length of the guest's stay.</blockquote></p>
  </div>
</div>
