<h2>All Lodging Opportunities in Westeros</h2>


<ul>
  <% @lodgings.each do |lodging| %>
    <li>
      <%= link_to "#{lodging.location} : #{lodging.name}", user_lodging_path(lodging.user_id, lodging.id) %>
      <%=  " - $#{lodging.cost.to_s} per night" %>
    </li>
  <% end %>
</ul>
